; ~/dotfiles/.gitmodules 27 Feb at 09:43:34 AM
[submodule "fast-syntax-highlighting"]
	path = zsh/.oh-my-zsh/custom/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
[submodule "oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "hyprland/hypr-dots"]
	path = hyprland/hypr-dots
	url = https://github.com/Inknyto/hypr-dots
[submodule "waybar/.config/waybar"]
	path = waybar/.config/waybar
	url = https://github.com/Inknyto/nyto-waybar
[submodule "zsh/.oh-my-zsh/custom/plugins/fzf-tab"]
	path = zsh/.oh-my-zsh/custom/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "zsh/.oh-my-zsh/custom/themes/powerlevel10k"]
	path = zsh/.oh-my-zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule "centos7-mbaye/.mbaye/ble.sh"]
	path = centos7-mbaye/.mbaye/ble.sh
	url = https://github.com/akinomyoga/ble.sh
