; ~/dotfiles/.gitmodules 13 May 2026 at 08:44:34 AM
[submodule "oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "hyprland/hypr-dots"]
	path = hyprland/hypr-dots
	url = https://github.com/Inknyto/hypr-dots
[submodule "waybar/.config/waybar"]
	path = waybar/.config/waybar
	url = https://github.com/Inknyto/nyto-waybar
[submodule "centos7-mbaye/.mbaye/ble.sh"]
	path = centos7-mbaye/.mbaye/ble.sh
	url = https://github.com/akinomyoga/ble.sh
[submodule "fast-syntax-highlighting"]
	path = zsh/.zsh-custom/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
[submodule "fzf-tab"]
	path = zsh/.zsh-custom/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab.git
[submodule "zsh-claudecode-completion"]
	path = zsh/.zsh-custom/plugins/zsh-claudecode-completion
	url = https://github.com/wbingli/zsh-claudecode-completion.git
[submodule "powerlevel10k"]
	path = zsh/.zsh-custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
